site_name: Purse Documentation
site_url: https://purse.luau.page
repo_name: RyanLua/Purse
repo_url: https://github.com/RyanLua/Purse

copyright: Copyright &copy; Ryan Luu

theme:
  name: material
  features:
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.top
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  icon:
    repo: fontawesome/brands/github
  favicon: assets/favicon.svg
  logo: assets/logo.svg

extra:
  social:
    - icon: simple/github
      link: https://github.com/RyanLua/Purse
      name: GitHub
    - icon: simple/roblox
      link: https://create.roblox.com/store/asset/112061170330936
      name: Creator Store
    - icon: simple/robloxstudio
      link: https://devforum.roblox.com/t/
      name: Roblox Developer Forum
    - icon: simple/discord
      link: https://discord.gg/N2KEnHzrsW
      name: Discord

markdown_extensions:
  - admonition
  - attr_list
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.superfences
  - pymdownx.highlight:
      linenums: true

nav:
  - Home: index.md
  - Installation: installation.md
  - Philosophy: philosophy.md
  - API Reference: api-reference.md
